bot_mode=dev

log_level=INFO

bot_token=1234567890:AAxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
bot_owner_id=123456789

bot_webhook_host=https://yourdomain.com
bot_webhook_path=/webhook
bot_webhook_secret=change_me_secret_32chars_minimum!!

postgres_host=postgres
postgres_port=5432
postgres_user=bot
postgres_password=botpass
postgres_db=botdb

redis_host=redis
redis_port=6379
redis_db=0
