__pycache__/
**/__pycache__/
*.py[cod]
**/*.py[cod]
*.egg-info/
**/*.egg-info/
dist/
build/
.venv/
**/.venv/
uv.lock
.env
.env.*
**/.env
**/.env.*
!.env.example
!**/.env.example
.idea/
.vscode/
*.swp
.pytest_cache/
**/.pytest_cache/
.coverage
htmlcov/
.mypy_cache/
**/.mypy_cache/
.ruff_cache/
**/.ruff_cache/
.cache/
**/.cache/
.DS_Store
**/.DS_Store
Thumbs.db
**/Thumbs.db
*.log
